version: "3"
services:
  app-template-nextjs:
    image: app:latest
    ports:
      - 3000:3000
    volumes:
      - type: bind
        source: ./
        target: /opt/app
    command: node_modules/.bin/next start
    tty: true
